
@import "../../theme/app.variables";

.chats {
    .chat{
        .time{
            font-size: 12px;
            padding-bottom: 20px;
        }
        .unread{
            background: #25D366;
            margin-top: 20px;
            padding-top: 5px;
            border-radius: 50%;
            font-size: 12px;
            height: 25px;
            width: 25px;
            text-align: center;
            color: white;
            font-weight: bold;
        }
    }
}
 